.header {
  position: relative;
  padding-left: 2.5rem;
  width: 100%;
  height: 30rem;
  background-color: $lightGray;

  &__logo {
    display: block;
    font-size: 1.5rem;
    color: $violet;
    position: absolute;
    top: 2rem;
    left: 2.5rem;
  }

  &__nav {
    padding: 1.5rem;
    width: 100%;
    height: 25rem;
    background-color: $violet;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 27% 29%, 25.5% 26.5%, 25% 25%);
    //clip-path: polygon(25% 0, 100% 0, 100% 95%, 27% 29%, 26% 28%, 25% 25%);

    &--links {
      display: flex;
      justify-content: flex-end;
      list-style: none;

      li {
        padding: 1rem 1.5rem;
        position: relative;
        transition: all 0.3s;

        &:not(:last-child):hover:after {
          position: absolute;
          top: 3rem;
          left: 0;
          content: '';
          background-color: $white;
          width: 100%;
          height: 0.05rem;
          border: none;
        }

        &:nth-child(5) {
          margin-left: 3rem;
          margin-right: 1rem;
        }

        &:last-of-type {
          background-color: $darkViolet;
          border-radius: 25px;
        }

        a {
          text-decoration: none;
          font-size: 0.75rem;
          color: $white;
        }
      }
    }
  }
}
